@model IEnumerable<webApp1.Models.Cliente>;
@{
    ViewData["Title"] = "Clients";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="..\Shared\_Layout.cshtml.css" />
<button type="button" class="btn btn-success">Agregar</button>

<tbody>
    @foreach(var item in Model){
        <table>
                    <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">YEARS</th>


        </tr>
        <tr>
            <th scope="col">1</th>
            <th scope="col">@item.id</th>
            <th scope="col">@item.name</th>
            <th scope="col">@item.email</th>
            <th scope="col">@item.years</th>


        </tr>
        </table>

    }
</tbody>
